body {
    align-items: center;
    /* background-color: rgb(230, 230, 230); */
    background-size: cover;
    background-image: url('../img/grid-bg.jpg');
    background-position: center;
    display: flex;
    flex-direction: column;
    font-family: 'Press Start 2P', cursive;
    gap: 2.5vh;
    text-align: center;
}

#grid-size-entry {
    background-color: rgb(240, 240, 240);
    font-family: 'Press Start 2P', cursive;
    font-size: 3vw;
    width: 3ch;
}

#grid-size-label {
    font-size: 3vw;
}

#page-title {
    font-size: 6vw;
}

#refresh-btn {
    background-color: rgb(225, 225, 225);
    font-family: 'Press Start 2P', cursive;
    font-size: 2vw;
    padding: 1.5vw;
}

#refresh-btn:active {
    transform: scale(0.98);
}

#refresh-btn:hover {
    background-color: rgb(220, 220, 220);
}

@media screen and (min-width: 960px) {

    #grid-size-entry,
    #grid-size-label {
        font-size: 28.8px;
    }

    #page-title {
        font-size: 57.6px;
    }

    #refresh-btn {
        font-size: 19.2px;
        padding: 14.4px;
    }
}